# Calculate Hours

In [55]:
# LIBRARIES
import pandas as pd
import numpy as np

In [73]:
# READ IN DATA
table = pd.read_csv("/Users/treehouse3/Dropbox/Effect_of_partitioning/step_2_shakedown_runs/output/Python/shakedown_runs_outcomes.csv")

In [74]:
# THIS MAKES A LIST OF INTEGERS OUT OF THE HH:MM:SS
def convertTimes(hhmmss):
    pieces = hhmmss.split(":")
    numbers = [int(x) for x in pieces]
    return(numbers)

In [75]:
print(table["hh:mm:ss"][0])
print(convertTimes(table["hh:mm:ss"][0]))

03:27:09
[3, 27, 9]

In [76]:
# THIS WILL CHANGE THE LIST OF INTEGERS INTO HOURS
def toHours(hhmmss_list):
    minutes = hhmmss_list[1]*(1/60)
    seconds = hhmmss_list[2]*(1/120)
    return(hhmmss_list[0] + minutes + seconds)

In [77]:
print(convertTimes(table["hh:mm:ss"][0]))
print(toHours(convertTimes(table["hh:mm:ss"][70])))

[3, 27, 9]
13.666666666666668

In [78]:
all_hours = []
errors = []

# CALCULATING ALL OF THE CONVERTED HOURS WITH "ERROR CHECKING"
for x in range(table.shape[0]):
    try:
        all_hours.append(toHours(convertTimes(table["hh:mm:ss"][x])))
    except:
        all_hours.append(np.NaN)
        errors.append(x)

In [79]:
# IF THERE ARE ACTUALLY ERRORS, THEN THE LIST BELOW WILL *NOT* BE BLANK
[x for x in errors if not np.isnan(table["hh:mm:ss"][x])]

[]

I actually think I have to get the max per dataset then add them together. Andy once said that the other ones will run almost instantaneously when these things are run.

In [80]:
table["converted_hours"] = all_hours

In [82]:
table["item_no"] = range(table.shape[0])

In [89]:
indices = [0,1,2,3,4]

In [90]:
main_chain = indices*int(table.shape[0]/5)

In [97]:
table["prop_ind"] = main_chain + list(range(table.shape[0]-len(main_chain)))

In [144]:
table2 = table.set_index(["dataset", "prop_ind"])

In [146]:
table2.head(10)

                               script  hh:mm:ss  outcome  converted_hours  \
dataset prop_ind
117     0                 117_aic.Rev  03:27:09      NaN         3.525000
        1           117_all_apart.Rev  03:16:56      NaN         3.733333
        2                 117_bic.Rev  03:08:16      NaN         3.266667
        3                117_gene.Rev  03:31:41      NaN         3.858333
        4            117_together.Rev  03:34:02      NaN         3.583333
196_8   0               196_8_aic.Rev  04:09:38      NaN         4.466667
        1         196_8_all_apart.Rev  03:05:18      NaN         3.233333
        2               196_8_bic.Rev  00:00:00  Failure         0.000000
        3              196_8_gene.Rev  03:56:15      NaN         4.058333
        4          196_8_together.Rev  04:26:22      NaN         4.616667

                  item_no
dataset prop_ind
117     0               0
        1               1
        2               2
        3               3
        4               4
196_8   0               5
        1               6
        2               7
        3               8
        4               9

In [147]:
table2.loc["117"]

                     script  hh:mm:ss outcome  converted_hours  item_no
prop_ind
0               117_aic.Rev  03:27:09     NaN         3.525000        0
1         117_all_apart.Rev  03:16:56     NaN         3.733333        1
2               117_bic.Rev  03:08:16     NaN         3.266667        2
3              117_gene.Rev  03:31:41     NaN         3.858333        3
4          117_together.Rev  03:34:02     NaN         3.583333        4

In [148]:
table2.index

MultiIndex(levels=[['117', '196_8', '21', '28', '45', '4_6', 'Bloom_2013_fishes', 'Brown_2012', 'Cibois_2013_birds', 'Cognato_2001', 'Condamine_2012_butterflies', 'DORNBURG_2012', 'Daniels_2015_crabs', 'Day_2013', 'Ekrem_2010', 'Fishbein_2001', 'Garcia-Sandoval_2011_fungus', 'Grande_2013', 'Hyde_2007_rockfishes', 'Kaffenberger_2011', 'Kang_2013a', 'Korall_2006_tree_ferns', 'Lane_2006_kelp', 'Leache_2009_lizards_nuclear', 'Li_2008', 'Magallon_2010_angiosperms', 'Martinkova_2012_rodents', 'Matheny_2009_fungus', 'Murienne_2010_arachnids', 'Price_2014_ants', 'RIGHTMYER_2013', 'Ronquist_2012_hymenoptera', 'Rota_2011_moths', 'Ryberg_2011_fungus', 'S10012', 'S10163', 'S10620', 'S1070', 'S1115', 'S11291', 'S1137', 'S11410', 'S11849', 'S12213'], [0, 1, 2, 3, 4]],
           labels=[[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 11, 11, 11, 11, 11, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 32, 32, 32, 32, 32, 33, 33, 33, 33, 33, 34, 34, 34, 34, 34, 35, 35, 35, 35, 35, 36, 36, 36, 36, 36, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 40, 40, 40, 40, 40, 41, 41, 41, 41, 41, 42, 42, 42, 42, 42, 43, 43], [0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1]],
           names=['dataset', 'prop_ind'])

In [149]:
table2.index.get_level_values("dataset")

Index(['117', '117', '117', '117', '117', '196_8', '196_8', '196_8', '196_8',
       '196_8',
       ...
       'S11410', 'S11410', 'S11410', 'S11849', 'S11849', 'S11849', 'S11849',
       'S11849', 'S12213', 'S12213'],
      dtype='object', name='dataset', length=217)

In [150]:
table2.index.get_level_values("prop_ind")

Int64Index([0, 1, 2, 3, 4, 0, 1, 2, 3, 4,
            ...
            2, 3, 4, 0, 1, 2, 3, 4, 0, 1],
           dtype='int64', name='prop_ind', length=217)

In [151]:
test = table2.loc["117"]
test

                     script  hh:mm:ss outcome  converted_hours  item_no
prop_ind
0               117_aic.Rev  03:27:09     NaN         3.525000        0
1         117_all_apart.Rev  03:16:56     NaN         3.733333        1
2               117_bic.Rev  03:08:16     NaN         3.266667        2
3              117_gene.Rev  03:31:41     NaN         3.858333        3
4          117_together.Rev  03:34:02     NaN         3.583333        4

In [152]:
test.loc[test["converted_hours"].idxmax()]

script             117_gene.Rev
hh:mm:ss               03:31:41
outcome                     NaN
converted_hours         3.85833
item_no                       3
Name: 3, dtype: object

In [153]:
# CONVERTED HOURS
test.loc[test["converted_hours"].idxmax()][3]

3.8583333333333334

In [156]:
# ITERATION
iterables = table2.index.get_level_values("dataset").unique()

In [162]:
x = iterables[0]

In [163]:
table2.loc[x]

                     script  hh:mm:ss outcome  converted_hours  item_no
prop_ind
0               117_aic.Rev  03:27:09     NaN         3.525000        0
1         117_all_apart.Rev  03:16:56     NaN         3.733333        1
2               117_bic.Rev  03:08:16     NaN         3.266667        2
3              117_gene.Rev  03:31:41     NaN         3.858333        3
4          117_together.Rev  03:34:02     NaN         3.583333        4

In [177]:
def getMaxHours(dataset):
    try:
        subtable = table2.loc[dataset]
        max_hours = subtable.loc[subtable["converted_hours"].idxmax()][3]
        if (max_hours > 1):
            return(max_hours)
        else:
            return(np.NaN)
    except:
        return(np.NaN)

In [178]:
getMaxHours(iterables[0])

3.8583333333333334

In [179]:
getMaxHours(iterables[1])

4.6166666666666671

In [184]:
table2.loc[iterables[7]]

                            script  hh:mm:ss outcome  converted_hours  item_no
prop_ind
0               Brown_2012_aic.Rev  00:00:00   Error              0.0       35
1         Brown_2012_all_apart.Rev  00:00:00   Error              0.0       36
2               Brown_2012_bic.Rev  00:00:00   Error              0.0       37
3              Brown_2012_gene.Rev  00:00:00   Error              0.0       38
4          Brown_2012_together.Rev  00:00:00   Error              0.0       39

In [181]:
all_hours = [getMaxHours(x) for x in iterables]

In [182]:
all_hours

[3.8583333333333334,
 4.6166666666666671,
 16.266666666666669,
 22.666666666666668,
 5.5666666666666664,
 11.450000000000001,
 20.683333333333334,
 nan,
 21.933333333333334,
 3.9249999999999998,
 6.0666666666666664,
 37.583333333333336,
 39.450000000000003,
 21.274999999999999,
 13.958333333333334,
 13.9,
 154.89999999999998,
 39.908333333333339,
 43.008333333333333,
 39.783333333333331,
 3.1499999999999999,
 13.925000000000001,
 8.0,
 18.225000000000001,
 nan,
 62.950000000000003,
 30.825000000000003,
 23.333333333333336,
 3.625,
 30.508333333333333,
 90.941666666666663,
 33.975000000000001,
 8.0333333333333332,
 nan,
 36.274999999999999,
 5.5500000000000007,
 27.050000000000001,
 6.4250000000000007,
 37.225000000000001,
 28.333333333333332,
 nan,
 nan,
 nan,
 nan]

In [185]:
to_sum = [x for x in all_hours if not np.isnan(x)]

In [187]:
hours = sum(to_sum)

In [191]:
print(hours)
print(hours/24)

989.15
41.2145833333

In [195]:
pd.DataFrame([iterables, all_hours], ["dataset", "max_time"]).T

                        dataset max_time
0                           117  3.85833
1                         196_8  4.61667
2                            21  16.2667
3                            28  22.6667
4                            45  5.56667
5                           4_6    11.45
6             Bloom_2013_fishes  20.6833
7                    Brown_2012      NaN
8             Cibois_2013_birds  21.9333
9                  Cognato_2001    3.925
10   Condamine_2012_butterflies  6.06667
11           Daniels_2015_crabs  37.5833
12                     Day_2013    39.45
13                DORNBURG_2012   21.275
14                   Ekrem_2010  13.9583
15                Fishbein_2001     13.9
16  Garcia-Sandoval_2011_fungus    154.9
17                  Grande_2013  39.9083
18         Hyde_2007_rockfishes  43.0083
19            Kaffenberger_2011  39.7833
20                   Kang_2013a     3.15
21       Korall_2006_tree_ferns   13.925
22               Lane_2006_kelp        8
23  Leache_2009_lizards_nuclear   18.225
24                      Li_2008      NaN
25    Magallon_2010_angiosperms    62.95
26      Martinkova_2012_rodents   30.825
27          Matheny_2009_fungus  23.3333
28      Murienne_2010_arachnids    3.625
29              Price_2014_ants  30.5083
30               RIGHTMYER_2013  90.9417
31    Ronquist_2012_hymenoptera   33.975
32              Rota_2011_moths  8.03333
33           Ryberg_2011_fungus      NaN
34                       S10012   36.275
35                       S10163     5.55
36                       S10620    27.05
37                        S1070    6.425
38                        S1115   37.225
39                       S11291  28.3333
40                        S1137      NaN
41                       S11410      NaN
42                       S11849      NaN
43                       S12213      NaN