# Calculate Hours
### Run this after using check_rb_output.ipynb
This script converts the times that were pulled from the job logs into decimal point estimates of the hours. First, we need the dependencies.

In [2]:
# LIBRARIES
import pandas as pd
import numpy as np

In [3]:
# READ IN DATA
table = pd.read_csv("/Users/treehouse3/Dropbox/Effect_of_partitioning/step_2_shakedown_runs/output/Python/shakedown_runs_outcomes.csv")

This __convertTimes()__ function will convert the times into a list of integers.

In [4]:
# THIS MAKES A LIST OF INTEGERS OUT OF THE HH:MM:SS
def convertTimes(hhmmss):
    pieces = hhmmss.split(":")
    numbers = [int(x) for x in pieces]
    return(numbers)

In [5]:
print(table["hh:mm:ss"][0])
print(convertTimes(table["hh:mm:ss"][0]))

03:27:09
[3, 27, 9]

Next, __toHours()__ will take those lists of integers output form __convertTimes()__ and create a decimal point representation of the hours.

In [6]:
# THIS WILL CHANGE THE LIST OF INTEGERS INTO HOURS
def toHours(hhmmss_list):
    minutes = hhmmss_list[1]*(1/60)
    seconds = hhmmss_list[2]*(1/120)
    return(hhmmss_list[0] + minutes + seconds)

In [7]:
print(convertTimes(table["hh:mm:ss"][0]))
print(toHours(convertTimes(table["hh:mm:ss"][70])))

[3, 27, 9]
13.666666666666668

The following for loop will be creating a list of estimated decimal point hours for each of the entries in the .csv  in a list called __[all_hours]__ and collecting the indices of the datasets for which the hours cannot be calculated in a list called __[errors]__. If there are actual errors (because we cannot calculate hours for jobs that are incomplete), then they will show in the list comprehension to come.

In [8]:
all_hours = []
errors = []

# CALCULATING ALL OF THE CONVERTED HOURS WITH "ERROR CHECKING"
for x in range(table.shape[0]):
    try:
        all_hours.append(toHours(convertTimes(table["hh:mm:ss"][x])))
    except:
        all_hours.append(np.NaN)
        errors.append(x)

In [9]:
# IF THERE ARE ACTUALLY ERRORS, THEN THE LIST BELOW WILL *NOT* BE BLANK
[x for x in errors if not np.isnan(table["hh:mm:ss"][x])]

[]

## Sum of all hours, without the few NaN's / 0:00's = 6298.691664 <br> Burn-in was 5,000 iterations, Run was 10,000 iterations

In [12]:
sum([x for x in all_hours if not np.isnan(x)])

6298.691666666664

# Dataframe

In [16]:
dataframe = table.assign(hours=all_hours)

In [17]:
dataframe

,dataset,script,hh:mm:ss,outcome,hours
0,117,117_aic.Rev,03:27:09,NaN,3.525000
1,117,117_all_apart.Rev,03:16:56,NaN,3.733333
2,117,117_bic.Rev,03:08:16,NaN,3.266667
3,117,117_gene.Rev,03:31:41,NaN,3.858333
4,117,117_together.Rev,03:34:02,NaN,3.583333
5,196_8,196_8_aic.Rev,04:09:38,NaN,4.466667
6,196_8,196_8_all_apart.Rev,03:05:18,NaN,3.233333
7,196_8,196_8_bic.Rev,03:32:21,NaN,3.708333
8,196_8,196_8_gene.Rev,03:56:15,NaN,4.058333
9,196_8,196_8_together.Rev,04:26:22,NaN,4.616667
10,21,21_aic.Rev,15:08:29,NaN,15.375000
11,21,21_all_apart.Rev,13:56:50,NaN,14.350000
12,21,21_bic.Rev,12:07:42,NaN,12.466667
13,21,21_gene.Rev,16:11:03,NaN,16.208333
14,21,21_together.Rev,16:14:04,NaN,16.266667
15,28,28_aic.Rev,21:15:58,NaN,21.733333
16,28,28_all_apart.Rev,21:23:00,NaN,21.383333
17,28,28_bic.Rev,18:58:40,NaN,19.300000
18,28,28_gene.Rev,22:22:16,NaN,22.500000
19,28,28_together.Rev,22:19:42,NaN,22.666667
20,45,45_aic.Rev,05:14:06,NaN,5.283333
21,45,45_all_apart.Rev,05:07:54,NaN,5.566667
22,45,45_bic.Rev,04:17:41,NaN,4.625000
23,45,45_gene.Rev,05:06:30,NaN,5.350000
24,45,45_together.Rev,05:09:27,NaN,5.375000
25,4_6,4_6_aic.Rev,10:49:49,NaN,11.225000
26,4_6,4_6_all_apart.Rev,10:18:40,NaN,10.633333
27,4_6,4_6_bic.Rev,09:44:21,NaN,9.908333
28,4_6,4_6_gene.Rev,11:11:32,NaN,11.450000
29,4_6,4_6_together.Rev,11:12:06,NaN,11.250000
...,...,...,...,...,...
234,S13927,S13927_together.Rev,03:27:44,NaN,3.816667
235,S1572,S1572_aic.Rev,18:08:40,NaN,18.466667
236,S1572,S1572_all_apart.Rev,17:59:46,NaN,18.366667
237,S1572,S1572_bic.Rev,17:53:25,NaN,18.091667
238,S1572,S1572_gene.Rev,19:55:00,NaN,19.916667
239,S1572,S1572_together.Rev,19:53:06,NaN,19.933333
240,S1802,S1802_aic.Rev,20:49:25,NaN,21.025000
241,S1802,S1802_all_apart.Rev,20:39:26,NaN,20.866667
242,S1802,S1802_bic.Rev,20:42:34,NaN,20.983333
243,S1802,S1802_gene.Rev,21:28:51,NaN,21.891667
244,S1802,S1802_together.Rev,22:25:05,NaN,22.458333
245,S1987,S1987_aic.Rev,44:52:37,NaN,45.175000
246,S1987,S1987_all_apart.Rev,44:21:29,NaN,44.591667
247,S1987,S1987_bic.Rev,44:18:01,NaN,44.308333
248,S1987,S1987_gene.Rev,44:43:48,NaN,45.116667
249,S1987,S1987_together.Rev,44:37:29,NaN,44.858333
250,S2061,S2061_aic.Rev,34:33:31,NaN,34.808333
251,S2061,S2061_all_apart.Rev,34:40:12,NaN,34.766667
252,S2061,S2061_bic.Rev,34:42:40,NaN,35.033333
253,S2061,S2061_gene.Rev,36:33:25,NaN,36.758333
254,S2061,S2061_together.Rev,36:04:33,NaN,36.341667
255,SEAGO_2011,SEAGO_2011_aic.Rev,38:32:36,NaN,38.833333
256,SEAGO_2011,SEAGO_2011_all_apart.Rev,38:24:11,NaN,38.491667
257,SEAGO_2011,SEAGO_2011_bic.Rev,36:50:39,NaN,37.158333
258,SEAGO_2011,SEAGO_2011_gene.Rev,35:44:39,NaN,36.058333
259,SEAGO_2011,SEAGO_2011_together.Rev,32:45:05,NaN,32.791667
260,Voss_2008_marsupials,Voss_2008_marsupials_aic.Rev,19:54:08,NaN,19.966667
261,Voss_2008_marsupials,Voss_2008_marsupials_all_apart.Rev,18:46:45,NaN,19.141667
262,Voss_2008_marsupials,Voss_2008_marsupials_bic.Rev,18:44:11,NaN,18.825000
263,Voss_2008_marsupials,Voss_2008_marsupials_gene.Rev,18:22:18,NaN,18.516667

In [18]:
 # dataframe.to_csv("/Users/treehouse3/Dropbox/Effect_of_partitioning/step_2_shakedown_runs/output/Python/shakedown_runs_times.csv")

# Sorted Dataframe
<ul>
<li><i>Li_2008</i>, The error will no longer be an error as soon as that run is done.</li>
<li><i>Magallon_2010_angiosperms</i>, ETA: 17:44:07</li>
<li><i>Martinkova_2012_rodents</i>, ETA: </li>
<li><i>Matheny_2009_fungus</i>, ETA: </li>
<li><i>Murienne_2010_arachnids</i>, ETA:</li>
<li><i>RIGHTMEYER_2013</i>, ETA:</li>
</ul>

In [21]:
dataframe2 = dataframe.sort_values(by="outcome")

In [25]:
dataframe2.head(10)

,dataset,script,hh:mm:ss,outcome,hours
123,Li_2008,Li_2008_gene.Rev,00:00:01,Error,0.008333
127,Magallon_2010_angiosperms,Magallon_2010_angiosperms_bic.Rev,00:00:00,Failure,0.000000
132,Martinkova_2012_rodents,Martinkova_2012_rodents_bic.Rev,00:00:00,Failure,0.000000
137,Matheny_2009_fungus,Matheny_2009_fungus_bic.Rev,00:00:00,Failure,0.000000
142,Murienne_2010_arachnids,Murienne_2010_arachnids_bic.Rev,00:00:00,Failure,0.000000
147,Price_2014_ants,Price_2014_ants_bic.Rev,00:00:01,Failure,0.008333
152,RIGHTMYER_2013,RIGHTMYER_2013_bic.Rev,00:00:00,Failure,0.000000
0,117,117_aic.Rev,03:27:09,NaN,3.525000
1,117,117_all_apart.Rev,03:16:56,NaN,3.733333
2,117,117_bic.Rev,03:08:16,NaN,3.266667

In [23]:
#  dataframe2.to_csv("/Users/treehouse3/Dropbox/Effect_of_partitioning/step_2_shakedown_runs/output/Python/shakedown_runs_times_sort.csv")