# Inpsect Errors
This script just identifies which were errors.

In [1]:
# LIBRARIES
import pandas as pd
import numpy as np

In [2]:
# READ IN DATA
table = pd.read_csv("/Users/treehouse3/Dropbox/Effect_of_partitioning/step_2_shakedown_runs/output/Python/shakedown_runs_outcomes.csv")

In [4]:
table.head()

  dataset             script  hh:mm:ss outcome
0     117        117_aic.Rev  03:27:09     NaN
1     117  117_all_apart.Rev  03:16:56     NaN
2     117        117_bic.Rev  03:08:16     NaN
3     117       117_gene.Rev  03:31:41     NaN
4     117   117_together.Rev  03:34:02     NaN

# .phy file type unknown
The error that was bouncing in RevBayes was that the .phy files were not being recognized.

In [5]:
table.loc[table["outcome"] == "Error"]

        dataset                    script  hh:mm:ss outcome
35   Brown_2012        Brown_2012_aic.Rev  00:00:00   Error
36   Brown_2012  Brown_2012_all_apart.Rev  00:00:00   Error
37   Brown_2012        Brown_2012_bic.Rev  00:00:00   Error
38   Brown_2012       Brown_2012_gene.Rev  00:00:00   Error
39   Brown_2012   Brown_2012_together.Rev  00:00:00   Error
120     Li_2008           Li_2008_aic.Rev  00:00:00   Error
121     Li_2008     Li_2008_all_apart.Rev  00:00:00   Error
122     Li_2008           Li_2008_bic.Rev  00:00:00   Error
123     Li_2008          Li_2008_gene.Rev  00:00:01   Error
124     Li_2008      Li_2008_together.Rev  00:00:00   Error

# .phy file type works
I found that Cognato_2001 and Daniels_2015_crabs had .phy subset files as well, and they were accepted by RevBayes.

In [7]:
table.loc[table["dataset"] == "Cognato_2001"]

         dataset                      script  hh:mm:ss  outcome
45  Cognato_2001        Cognato_2001_aic.Rev  03:22:40      NaN
46  Cognato_2001  Cognato_2001_all_apart.Rev  03:31:49      NaN
47  Cognato_2001        Cognato_2001_bic.Rev  00:00:00  Failure
48  Cognato_2001       Cognato_2001_gene.Rev  03:36:24      NaN
49  Cognato_2001   Cognato_2001_together.Rev  03:31:34      NaN

In [8]:
table.loc[table["dataset"] == "Daniels_2015_crabs"]

               dataset                            script  hh:mm:ss  outcome
55  Daniels_2015_crabs        Daniels_2015_crabs_aic.Rev  36:41:39      NaN
56  Daniels_2015_crabs  Daniels_2015_crabs_all_apart.Rev  37:10:46      NaN
57  Daniels_2015_crabs        Daniels_2015_crabs_bic.Rev  00:00:00  Failure
58  Daniels_2015_crabs       Daniels_2015_crabs_gene.Rev  37:20:30      NaN
59  Daniels_2015_crabs   Daniels_2015_crabs_together.Rev  37:03:00      NaN

There was no outcome to this script. I inspected the .phy files to find out that there was no apparent reason why they were not being able to be read into RevBayes. To circumvent this issue, I converted the .phy file types for Brown_2012 and Li_2008 into .nex files with the script called __phy_to_nex.ipynb__.